[package]
name = "contrato_validadores"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
soroban-sdk = "20.0.0"

[profile.release]
opt-level = "z"
lto = true
debug = false
panic = "abort"
codegen-units = 1

